form action="/fruit" method="post"
    input type="text" name="name" placeholder="Vilken frukt vill du lägga till?"
    input type="number" name="amount" placeholder="Hur många?"
    input type="submit" value="Skicka!"

